.test-title {
  margin-bottom: 0;
}

.btn-container {
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  background-color: #88fca3;
  border: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.grid-iten {
  padding-top: 0 !important;
}

.grid-iten .title-container {
  margin-bottom: 10px;
}

.grid-iten .title-container .title {
  margin-bottom: 0;
}

.paper-container {
  margin-bottom: 10px;
  padding: 10px;
}

.paper-container .message {
  margin-bottom: 10px;
}

.paper-container .actions-container {
  text-align: right;
}

.paper-container .actions-container .clear {
  cursor: pointer;
  font-size: 14px;
}
